$flaticon_tpf_mcc-font: "flaticon_tpf_mcc";

@font-face {
    font-family: $flaticon_tpf_mcc-font;
    src: url("./flaticon_tpf_mcc.ttf?7fe65fe03a10c91ff9206e797e9355d8") format("truetype"),
url("./flaticon_tpf_mcc.woff?7fe65fe03a10c91ff9206e797e9355d8") format("woff"),
url("./flaticon_tpf_mcc.woff2?7fe65fe03a10c91ff9206e797e9355d8") format("woff2"),
url("./flaticon_tpf_mcc.eot?7fe65fe03a10c91ff9206e797e9355d8#iefix") format("embedded-opentype"),
url("./flaticon_tpf_mcc.svg?7fe65fe03a10c91ff9206e797e9355d8#flaticon_tpf_mcc") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_tpf_mcc !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_tpf_mcc-map: (
    "spanner-wrench": "\f101",
    "crowd-of-users": "\f102",
    "avatar": "\f103",
    "folder": "\f104",
    "danger": "\f105",
    "attach": "\f106",
    "repeat": "\f107",
    "settings": "\f108",
    "settings-1": "\f109",
    "coins": "\f10a",
    "package": "\f10b",
    "pie-chart": "\f10c",
    "credit-card": "\f10d",
    "delivery": "\f10e",
    "profits": "\f10f",
    "bill": "\f110",
    "settings-2": "\f111",
    "diagram": "\f112",
    "purse": "\f113",
    "network": "\f114",
    "customer-support": "\f115",
    "insurance": "\f116",
    "insurance-1": "\f117",
    "book": "\f118",
    "book-1": "\f119",
    "statistics": "\f11a",
    "address": "\f11b",
    "approval": "\f11c",
    "report": "\f11d",
    "location": "\f11e",
    "report-1": "\f11f",
    "check-list": "\f120",
    "id-card": "\f121",
    "map": "\f122",
    "community": "\f123",
    "fast-delivery": "\f124",
    "increase": "\f125",
    "dashboard": "\f126",
    "wallet": "\f127",
    "refund": "\f128",
    "cashback": "\f129",
    "wrench": "\f12a",
    "give-money": "\f12b",
    "complaint": "\f12c",
    "paper": "\f12d",
    "donation": "\f12e",
    "left-and-right-arrows": "\f12f",
    "wallet-1": "\f130",
    "folder-1": "\f131",
    "transfer": "\f132",
    "bank": "\f133",
    "bishop": "\f134",
    "generous": "\f135",
    "folder-2": "\f136",
    "report-2": "\f137",
    "monitor": "\f138",
    "group": "\f139",
    "salary": "\f13a",
    "open": "\f13b",
    "open-1": "\f13c",
    "sales": "\f13d",
    "attachment": "\f13e",
    "clipboard": "\f13f",
    "share": "\f140",
    "report-3": "\f141",
    "profile": "\f142",
    "forward": "\f143",
    "reply": "\f144",
    "transaction": "\f145",
    "paper-1": "\f146",
    "id-card-1": "\f147",
    "chatting": "\f148",
    "profit": "\f149",
    "dashboard-1": "\f14a",
    "scroll": "\f14b",
    "teamwork": "\f14c",
    "document": "\f14d",
    "approve": "\f14e",
    "report-4": "\f14f",
    "cancel": "\f150",
    "price-list": "\f151",
    "rise": "\f152",
    "rise-1": "\f153",
    "rise-2": "\f154",
    "gps": "\f155",
    "data-transfer": "\f156",
    "data-transfer-1": "\f157",
    "edit": "\f158",
    "trash": "\f159",
    "delivery-man": "\f15a",
    "dashboard-2": "\f15b",
    "document-1": "\f15c",
    "bank-transfer": "\f15d",
    "bank-transfer-1": "\f15e",
    "document-2": "\f15f",
    "member-card": "\f160",
    "cancelation": "\f161",
    "cancelation-1": "\f162",
    "user": "\f163",
    "report-5": "\f164",
    "file-explorer": "\f165",
    "ban": "\f166",
    "bookmark": "\f167",
    "bin": "\f168",
    "remove": "\f169",
    "growth": "\f16a",
    "family-tree": "\f16b",
    "load": "\f16c",
    "bill-1": "\f16d",
    "gps-1": "\f16e",
    "link-file": "\f16f",
    "statistics-1": "\f170",
    "product-research": "\f171",
    "quality-assurance": "\f172",
    "user-experience": "\f173",
    "penalty": "\f174",
    "business-report": "\f175",
    "report-7": "\f176",
    "audit": "\f177",
    "data-collection": "\f178",
    "truck": "\f179",
    "approval-1": "\f17a",
    "reporting": "\f17b",
    "line-graph": "\f17c",
    "analysis": "\f17d",
    "notes": "\f17e",
    "notes-1": "\f17f",
    "statistics-2": "\f180",
    "bonus": "\f181",
    "bonus-1": "\f182",
    "earnings": "\f183",
    "earnings-1": "\f184",
    "cathedral": "\f185",
    "donation-1": "\f186",
    "share-1": "\f187",
    "arrows": "\f188",
    "transaction-history": "\f189",
    "bill-2": "\f18a",
    "cheque": "\f18b",
    "transaction-history-1": "\f18c",
    "donate": "\f18d",
    "infaq": "\f18e",
    "subsidy": "\f18f",
    "give-money-1": "\f190",
    "alms": "\f191",
    "zakat": "\f192",
    "money": "\f193",
    "donation-2": "\f194",
    "donate-1": "\f195",
    "donation-3": "\f196",
    "donation-4": "\f197",
    "donation-5": "\f198",
    "donation-6": "\f199",
    "zakat-1": "\f19a",
    "money-exchange": "\f19b",
    "time-management": "\f19c",
    "clock": "\f19d",
    "money-1": "\f19e",
    "banknotes": "\f19f",
    "refund-1": "\f1a0",
    "calculator": "\f1a1",
    "profit-1": "\f1a2",
    "get-money": "\f1a3",
    "money-2": "\f1a4",
    "cashback-1": "\f1a5",
    "money-3": "\f1a6",
    "waiting-list": "\f1a7",
    "infaq-2": "\f1a8",
    "bank-1": "\f1a9",
    "approved": "\f1aa",
    "approved-1": "\f1ab",
    "find": "\f1ac",
    "user-account": "\f1ad",
    "participation": "\f1ae",
    "leader": "\f1af",
    "collaboration": "\f1b0",
    "group-1": "\f1b1",
    "cross": "\f1b2",
    "organization-chart": "\f1b3",
    "login": "\f1b4",
    "unlock": "\f1b5",
    "group-2": "\f1b6",
    "lock": "\f1b7",
    "key": "\f1b8",
    "view": "\f1b9",
    "search": "\f1ba",
    "woman": "\f1bb",
    "avatar-1": "\f1bc",
    "calculator-1": "\f1bd",
    "cross-1": "\f1be",
    "file": "\f1bf",
    "unknown": "\f1c0",
    "file-1": "\f1c1",
    "duplicate": "\f1c2",
    "copy-1": "\f1c3",
    "sync": "\f1c4",
    "paperclip": "\f1c5",
    "clip": "\f1c6",
    "pen": "\f1c7",
    "money-bag": "\f1c8",
    "salary-1": "\f1c9",
    "money-bag-1": "\f1ca",
    "focus": "\f1cb",
    "strategy": "\f1cc",
    "money-bag-2": "\f1cd",
    "money-bag-3": "\f1ce",
    "cash-bag": "\f1cf",
    "money-bag-4": "\f1d0",
    "refund-2": "\f1d1",
    "cash": "\f1d2",
    "will": "\f1d3",
    "last-will": "\f1d4",
    "refund-3": "\f1d5",
    "profile-1": "\f1d6",
    "block": "\f1d7",
    "image": "\f1d8",
    "business-report-1": "\f1d9",
    "penalty-1": "\f1da",
    "budget": "\f1db",
    "punishment": "\f1dc",
    "law-book": "\f1dd",
    "invoice": "\f1de",
    "certificate": "\f1df",
    "stamp": "\f1e0",
    "coin": "\f1e1",
    "regulation": "\f1e2",
    "insurance-2": "\f1e3",
    "pay-day": "\f1e4",
    "justice": "\f1e5",
    "gavel": "\f1e6",
    "law": "\f1e7",
    "documents": "\f1e8",
    "approval-2": "\f1e9",
    "approve-1": "\f1ea",
    "invoice-1": "\f1eb",
    "group-3": "\f1ec",
    "waiting-list-1": "\f1ed",
    "time": "\f1ee",
    "tick": "\f1ef",
    "tick-1": "\f1f0",
    "time-1": "\f1f1",
    "payment": "\f1f2",
    "payment-1": "\f1f3",
    "face-scan": "\f1f4",
    "wedding-contract": "\f1f5",
    "payment-2": "\f1f6",
    "no-corruption": "\f1f7",
    "no-money": "\f1f8",
);

.flaticon-spanner-wrench:before {
    content: map-get($flaticon_tpf_mcc-map, "spanner-wrench");
}
.flaticon-crowd-of-users:before {
    content: map-get($flaticon_tpf_mcc-map, "crowd-of-users");
}
.flaticon-avatar:before {
    content: map-get($flaticon_tpf_mcc-map, "avatar");
}
.flaticon-folder:before {
    content: map-get($flaticon_tpf_mcc-map, "folder");
}
.flaticon-danger:before {
    content: map-get($flaticon_tpf_mcc-map, "danger");
}
.flaticon-attach:before {
    content: map-get($flaticon_tpf_mcc-map, "attach");
}
.flaticon-repeat:before {
    content: map-get($flaticon_tpf_mcc-map, "repeat");
}
.flaticon-settings:before {
    content: map-get($flaticon_tpf_mcc-map, "settings");
}
.flaticon-settings-1:before {
    content: map-get($flaticon_tpf_mcc-map, "settings-1");
}
.flaticon-coins:before {
    content: map-get($flaticon_tpf_mcc-map, "coins");
}
.flaticon-package:before {
    content: map-get($flaticon_tpf_mcc-map, "package");
}
.flaticon-pie-chart:before {
    content: map-get($flaticon_tpf_mcc-map, "pie-chart");
}
.flaticon-credit-card:before {
    content: map-get($flaticon_tpf_mcc-map, "credit-card");
}
.flaticon-delivery:before {
    content: map-get($flaticon_tpf_mcc-map, "delivery");
}
.flaticon-profits:before {
    content: map-get($flaticon_tpf_mcc-map, "profits");
}
.flaticon-bill:before {
    content: map-get($flaticon_tpf_mcc-map, "bill");
}
.flaticon-settings-2:before {
    content: map-get($flaticon_tpf_mcc-map, "settings-2");
}
.flaticon-diagram:before {
    content: map-get($flaticon_tpf_mcc-map, "diagram");
}
.flaticon-purse:before {
    content: map-get($flaticon_tpf_mcc-map, "purse");
}
.flaticon-network:before {
    content: map-get($flaticon_tpf_mcc-map, "network");
}
.flaticon-customer-support:before {
    content: map-get($flaticon_tpf_mcc-map, "customer-support");
}
.flaticon-insurance:before {
    content: map-get($flaticon_tpf_mcc-map, "insurance");
}
.flaticon-insurance-1:before {
    content: map-get($flaticon_tpf_mcc-map, "insurance-1");
}
.flaticon-book:before {
    content: map-get($flaticon_tpf_mcc-map, "book");
}
.flaticon-book-1:before {
    content: map-get($flaticon_tpf_mcc-map, "book-1");
}
.flaticon-statistics:before {
    content: map-get($flaticon_tpf_mcc-map, "statistics");
}
.flaticon-address:before {
    content: map-get($flaticon_tpf_mcc-map, "address");
}
.flaticon-approval:before {
    content: map-get($flaticon_tpf_mcc-map, "approval");
}
.flaticon-report:before {
    content: map-get($flaticon_tpf_mcc-map, "report");
}
.flaticon-location:before {
    content: map-get($flaticon_tpf_mcc-map, "location");
}
.flaticon-report-1:before {
    content: map-get($flaticon_tpf_mcc-map, "report-1");
}
.flaticon-check-list:before {
    content: map-get($flaticon_tpf_mcc-map, "check-list");
}
.flaticon-id-card:before {
    content: map-get($flaticon_tpf_mcc-map, "id-card");
}
.flaticon-map:before {
    content: map-get($flaticon_tpf_mcc-map, "map");
}
.flaticon-community:before {
    content: map-get($flaticon_tpf_mcc-map, "community");
}
.flaticon-fast-delivery:before {
    content: map-get($flaticon_tpf_mcc-map, "fast-delivery");
}
.flaticon-increase:before {
    content: map-get($flaticon_tpf_mcc-map, "increase");
}
.flaticon-dashboard:before {
    content: map-get($flaticon_tpf_mcc-map, "dashboard");
}
.flaticon-wallet:before {
    content: map-get($flaticon_tpf_mcc-map, "wallet");
}
.flaticon-refund:before {
    content: map-get($flaticon_tpf_mcc-map, "refund");
}
.flaticon-cashback:before {
    content: map-get($flaticon_tpf_mcc-map, "cashback");
}
.flaticon-wrench:before {
    content: map-get($flaticon_tpf_mcc-map, "wrench");
}
.flaticon-give-money:before {
    content: map-get($flaticon_tpf_mcc-map, "give-money");
}
.flaticon-complaint:before {
    content: map-get($flaticon_tpf_mcc-map, "complaint");
}
.flaticon-paper:before {
    content: map-get($flaticon_tpf_mcc-map, "paper");
}
.flaticon-donation:before {
    content: map-get($flaticon_tpf_mcc-map, "donation");
}
.flaticon-left-and-right-arrows:before {
    content: map-get($flaticon_tpf_mcc-map, "left-and-right-arrows");
}
.flaticon-wallet-1:before {
    content: map-get($flaticon_tpf_mcc-map, "wallet-1");
}
.flaticon-folder-1:before {
    content: map-get($flaticon_tpf_mcc-map, "folder-1");
}
.flaticon-transfer:before {
    content: map-get($flaticon_tpf_mcc-map, "transfer");
}
.flaticon-bank:before {
    content: map-get($flaticon_tpf_mcc-map, "bank");
}
.flaticon-bishop:before {
    content: map-get($flaticon_tpf_mcc-map, "bishop");
}
.flaticon-generous:before {
    content: map-get($flaticon_tpf_mcc-map, "generous");
}
.flaticon-folder-2:before {
    content: map-get($flaticon_tpf_mcc-map, "folder-2");
}
.flaticon-report-2:before {
    content: map-get($flaticon_tpf_mcc-map, "report-2");
}
.flaticon-monitor:before {
    content: map-get($flaticon_tpf_mcc-map, "monitor");
}
.flaticon-group:before {
    content: map-get($flaticon_tpf_mcc-map, "group");
}
.flaticon-salary:before {
    content: map-get($flaticon_tpf_mcc-map, "salary");
}
.flaticon-open:before {
    content: map-get($flaticon_tpf_mcc-map, "open");
}
.flaticon-open-1:before {
    content: map-get($flaticon_tpf_mcc-map, "open-1");
}
.flaticon-sales:before {
    content: map-get($flaticon_tpf_mcc-map, "sales");
}
.flaticon-attachment:before {
    content: map-get($flaticon_tpf_mcc-map, "attachment");
}
.flaticon-clipboard:before {
    content: map-get($flaticon_tpf_mcc-map, "clipboard");
}
.flaticon-share:before {
    content: map-get($flaticon_tpf_mcc-map, "share");
}
.flaticon-report-3:before {
    content: map-get($flaticon_tpf_mcc-map, "report-3");
}
.flaticon-profile:before {
    content: map-get($flaticon_tpf_mcc-map, "profile");
}
.flaticon-forward:before {
    content: map-get($flaticon_tpf_mcc-map, "forward");
}
.flaticon-reply:before {
    content: map-get($flaticon_tpf_mcc-map, "reply");
}
.flaticon-transaction:before {
    content: map-get($flaticon_tpf_mcc-map, "transaction");
}
.flaticon-paper-1:before {
    content: map-get($flaticon_tpf_mcc-map, "paper-1");
}
.flaticon-id-card-1:before {
    content: map-get($flaticon_tpf_mcc-map, "id-card-1");
}
.flaticon-chatting:before {
    content: map-get($flaticon_tpf_mcc-map, "chatting");
}
.flaticon-profit:before {
    content: map-get($flaticon_tpf_mcc-map, "profit");
}
.flaticon-dashboard-1:before {
    content: map-get($flaticon_tpf_mcc-map, "dashboard-1");
}
.flaticon-scroll:before {
    content: map-get($flaticon_tpf_mcc-map, "scroll");
}
.flaticon-teamwork:before {
    content: map-get($flaticon_tpf_mcc-map, "teamwork");
}
.flaticon-document:before {
    content: map-get($flaticon_tpf_mcc-map, "document");
}
.flaticon-approve:before {
    content: map-get($flaticon_tpf_mcc-map, "approve");
}
.flaticon-report-4:before {
    content: map-get($flaticon_tpf_mcc-map, "report-4");
}
.flaticon-cancel:before {
    content: map-get($flaticon_tpf_mcc-map, "cancel");
}
.flaticon-price-list:before {
    content: map-get($flaticon_tpf_mcc-map, "price-list");
}
.flaticon-rise:before {
    content: map-get($flaticon_tpf_mcc-map, "rise");
}
.flaticon-rise-1:before {
    content: map-get($flaticon_tpf_mcc-map, "rise-1");
}
.flaticon-rise-2:before {
    content: map-get($flaticon_tpf_mcc-map, "rise-2");
}
.flaticon-gps:before {
    content: map-get($flaticon_tpf_mcc-map, "gps");
}
.flaticon-data-transfer:before {
    content: map-get($flaticon_tpf_mcc-map, "data-transfer");
}
.flaticon-data-transfer-1:before {
    content: map-get($flaticon_tpf_mcc-map, "data-transfer-1");
}
.flaticon-edit:before {
    content: map-get($flaticon_tpf_mcc-map, "edit");
}
.flaticon-trash:before {
    content: map-get($flaticon_tpf_mcc-map, "trash");
}
.flaticon-delivery-man:before {
    content: map-get($flaticon_tpf_mcc-map, "delivery-man");
}
.flaticon-dashboard-2:before {
    content: map-get($flaticon_tpf_mcc-map, "dashboard-2");
}
.flaticon-document-1:before {
    content: map-get($flaticon_tpf_mcc-map, "document-1");
}
.flaticon-bank-transfer:before {
    content: map-get($flaticon_tpf_mcc-map, "bank-transfer");
}
.flaticon-bank-transfer-1:before {
    content: map-get($flaticon_tpf_mcc-map, "bank-transfer-1");
}
.flaticon-document-2:before {
    content: map-get($flaticon_tpf_mcc-map, "document-2");
}
.flaticon-member-card:before {
    content: map-get($flaticon_tpf_mcc-map, "member-card");
}
.flaticon-cancelation:before {
    content: map-get($flaticon_tpf_mcc-map, "cancelation");
}
.flaticon-cancelation-1:before {
    content: map-get($flaticon_tpf_mcc-map, "cancelation-1");
}
.flaticon-user:before {
    content: map-get($flaticon_tpf_mcc-map, "user");
}
.flaticon-report-5:before {
    content: map-get($flaticon_tpf_mcc-map, "report-5");
}
.flaticon-file-explorer:before {
    content: map-get($flaticon_tpf_mcc-map, "file-explorer");
}
.flaticon-ban:before {
    content: map-get($flaticon_tpf_mcc-map, "ban");
}
.flaticon-bookmark:before {
    content: map-get($flaticon_tpf_mcc-map, "bookmark");
}
.flaticon-bin:before {
    content: map-get($flaticon_tpf_mcc-map, "bin");
}
.flaticon-remove:before {
    content: map-get($flaticon_tpf_mcc-map, "remove");
}
.flaticon-growth:before {
    content: map-get($flaticon_tpf_mcc-map, "growth");
}
.flaticon-family-tree:before {
    content: map-get($flaticon_tpf_mcc-map, "family-tree");
}
.flaticon-load:before {
    content: map-get($flaticon_tpf_mcc-map, "load");
}
.flaticon-bill-1:before {
    content: map-get($flaticon_tpf_mcc-map, "bill-1");
}
.flaticon-gps-1:before {
    content: map-get($flaticon_tpf_mcc-map, "gps-1");
}
.flaticon-link-file:before {
    content: map-get($flaticon_tpf_mcc-map, "link-file");
}
.flaticon-statistics-1:before {
    content: map-get($flaticon_tpf_mcc-map, "statistics-1");
}
.flaticon-product-research:before {
    content: map-get($flaticon_tpf_mcc-map, "product-research");
}
.flaticon-quality-assurance:before {
    content: map-get($flaticon_tpf_mcc-map, "quality-assurance");
}
.flaticon-user-experience:before {
    content: map-get($flaticon_tpf_mcc-map, "user-experience");
}
.flaticon-penalty:before {
    content: map-get($flaticon_tpf_mcc-map, "penalty");
}
.flaticon-business-report:before {
    content: map-get($flaticon_tpf_mcc-map, "business-report");
}
.flaticon-report-7:before {
    content: map-get($flaticon_tpf_mcc-map, "report-7");
}
.flaticon-audit:before {
    content: map-get($flaticon_tpf_mcc-map, "audit");
}
.flaticon-data-collection:before {
    content: map-get($flaticon_tpf_mcc-map, "data-collection");
}
.flaticon-truck:before {
    content: map-get($flaticon_tpf_mcc-map, "truck");
}
.flaticon-approval-1:before {
    content: map-get($flaticon_tpf_mcc-map, "approval-1");
}
.flaticon-reporting:before {
    content: map-get($flaticon_tpf_mcc-map, "reporting");
}
.flaticon-line-graph:before {
    content: map-get($flaticon_tpf_mcc-map, "line-graph");
}
.flaticon-analysis:before {
    content: map-get($flaticon_tpf_mcc-map, "analysis");
}
.flaticon-notes:before {
    content: map-get($flaticon_tpf_mcc-map, "notes");
}
.flaticon-notes-1:before {
    content: map-get($flaticon_tpf_mcc-map, "notes-1");
}
.flaticon-statistics-2:before {
    content: map-get($flaticon_tpf_mcc-map, "statistics-2");
}
.flaticon-bonus:before {
    content: map-get($flaticon_tpf_mcc-map, "bonus");
}
.flaticon-bonus-1:before {
    content: map-get($flaticon_tpf_mcc-map, "bonus-1");
}
.flaticon-earnings:before {
    content: map-get($flaticon_tpf_mcc-map, "earnings");
}
.flaticon-earnings-1:before {
    content: map-get($flaticon_tpf_mcc-map, "earnings-1");
}
.flaticon-cathedral:before {
    content: map-get($flaticon_tpf_mcc-map, "cathedral");
}
.flaticon-donation-1:before {
    content: map-get($flaticon_tpf_mcc-map, "donation-1");
}
.flaticon-share-1:before {
    content: map-get($flaticon_tpf_mcc-map, "share-1");
}
.flaticon-arrows:before {
    content: map-get($flaticon_tpf_mcc-map, "arrows");
}
.flaticon-transaction-history:before {
    content: map-get($flaticon_tpf_mcc-map, "transaction-history");
}
.flaticon-bill-2:before {
    content: map-get($flaticon_tpf_mcc-map, "bill-2");
}
.flaticon-cheque:before {
    content: map-get($flaticon_tpf_mcc-map, "cheque");
}
.flaticon-transaction-history-1:before {
    content: map-get($flaticon_tpf_mcc-map, "transaction-history-1");
}
.flaticon-donate:before {
    content: map-get($flaticon_tpf_mcc-map, "donate");
}
.flaticon-infaq:before {
    content: map-get($flaticon_tpf_mcc-map, "infaq");
}
.flaticon-subsidy:before {
    content: map-get($flaticon_tpf_mcc-map, "subsidy");
}
.flaticon-give-money-1:before {
    content: map-get($flaticon_tpf_mcc-map, "give-money-1");
}
.flaticon-alms:before {
    content: map-get($flaticon_tpf_mcc-map, "alms");
}
.flaticon-zakat:before {
    content: map-get($flaticon_tpf_mcc-map, "zakat");
}
.flaticon-money:before {
    content: map-get($flaticon_tpf_mcc-map, "money");
}
.flaticon-donation-2:before {
    content: map-get($flaticon_tpf_mcc-map, "donation-2");
}
.flaticon-donate-1:before {
    content: map-get($flaticon_tpf_mcc-map, "donate-1");
}
.flaticon-donation-3:before {
    content: map-get($flaticon_tpf_mcc-map, "donation-3");
}
.flaticon-donation-4:before {
    content: map-get($flaticon_tpf_mcc-map, "donation-4");
}
.flaticon-donation-5:before {
    content: map-get($flaticon_tpf_mcc-map, "donation-5");
}
.flaticon-donation-6:before {
    content: map-get($flaticon_tpf_mcc-map, "donation-6");
}
.flaticon-zakat-1:before {
    content: map-get($flaticon_tpf_mcc-map, "zakat-1");
}
.flaticon-money-exchange:before {
    content: map-get($flaticon_tpf_mcc-map, "money-exchange");
}
.flaticon-time-management:before {
    content: map-get($flaticon_tpf_mcc-map, "time-management");
}
.flaticon-clock:before {
    content: map-get($flaticon_tpf_mcc-map, "clock");
}
.flaticon-money-1:before {
    content: map-get($flaticon_tpf_mcc-map, "money-1");
}
.flaticon-banknotes:before {
    content: map-get($flaticon_tpf_mcc-map, "banknotes");
}
.flaticon-refund-1:before {
    content: map-get($flaticon_tpf_mcc-map, "refund-1");
}
.flaticon-calculator:before {
    content: map-get($flaticon_tpf_mcc-map, "calculator");
}
.flaticon-profit-1:before {
    content: map-get($flaticon_tpf_mcc-map, "profit-1");
}
.flaticon-get-money:before {
    content: map-get($flaticon_tpf_mcc-map, "get-money");
}
.flaticon-money-2:before {
    content: map-get($flaticon_tpf_mcc-map, "money-2");
}
.flaticon-cashback-1:before {
    content: map-get($flaticon_tpf_mcc-map, "cashback-1");
}
.flaticon-money-3:before {
    content: map-get($flaticon_tpf_mcc-map, "money-3");
}
.flaticon-waiting-list:before {
    content: map-get($flaticon_tpf_mcc-map, "waiting-list");
}
.flaticon-infaq-2:before {
    content: map-get($flaticon_tpf_mcc-map, "infaq-2");
}
.flaticon-bank-1:before {
    content: map-get($flaticon_tpf_mcc-map, "bank-1");
}
.flaticon-approved:before {
    content: map-get($flaticon_tpf_mcc-map, "approved");
}
.flaticon-approved-1:before {
    content: map-get($flaticon_tpf_mcc-map, "approved-1");
}
.flaticon-find:before {
    content: map-get($flaticon_tpf_mcc-map, "find");
}
.flaticon-user-account:before {
    content: map-get($flaticon_tpf_mcc-map, "user-account");
}
.flaticon-participation:before {
    content: map-get($flaticon_tpf_mcc-map, "participation");
}
.flaticon-leader:before {
    content: map-get($flaticon_tpf_mcc-map, "leader");
}
.flaticon-collaboration:before {
    content: map-get($flaticon_tpf_mcc-map, "collaboration");
}
.flaticon-group-1:before {
    content: map-get($flaticon_tpf_mcc-map, "group-1");
}
.flaticon-cross:before {
    content: map-get($flaticon_tpf_mcc-map, "cross");
}
.flaticon-organization-chart:before {
    content: map-get($flaticon_tpf_mcc-map, "organization-chart");
}
.flaticon-login:before {
    content: map-get($flaticon_tpf_mcc-map, "login");
}
.flaticon-unlock:before {
    content: map-get($flaticon_tpf_mcc-map, "unlock");
}
.flaticon-group-2:before {
    content: map-get($flaticon_tpf_mcc-map, "group-2");
}
.flaticon-lock:before {
    content: map-get($flaticon_tpf_mcc-map, "lock");
}
.flaticon-key:before {
    content: map-get($flaticon_tpf_mcc-map, "key");
}
.flaticon-view:before {
    content: map-get($flaticon_tpf_mcc-map, "view");
}
.flaticon-search:before {
    content: map-get($flaticon_tpf_mcc-map, "search");
}
.flaticon-woman:before {
    content: map-get($flaticon_tpf_mcc-map, "woman");
}
.flaticon-avatar-1:before {
    content: map-get($flaticon_tpf_mcc-map, "avatar-1");
}
.flaticon-calculator-1:before {
    content: map-get($flaticon_tpf_mcc-map, "calculator-1");
}
.flaticon-cross-1:before {
    content: map-get($flaticon_tpf_mcc-map, "cross-1");
}
.flaticon-file:before {
    content: map-get($flaticon_tpf_mcc-map, "file");
}
.flaticon-unknown:before {
    content: map-get($flaticon_tpf_mcc-map, "unknown");
}
.flaticon-file-1:before {
    content: map-get($flaticon_tpf_mcc-map, "file-1");
}
.flaticon-duplicate:before {
    content: map-get($flaticon_tpf_mcc-map, "duplicate");
}
.flaticon-copy-1:before {
    content: map-get($flaticon_tpf_mcc-map, "copy-1");
}
.flaticon-sync:before {
    content: map-get($flaticon_tpf_mcc-map, "sync");
}
.flaticon-paperclip:before {
    content: map-get($flaticon_tpf_mcc-map, "paperclip");
}
.flaticon-clip:before {
    content: map-get($flaticon_tpf_mcc-map, "clip");
}
.flaticon-pen:before {
    content: map-get($flaticon_tpf_mcc-map, "pen");
}
.flaticon-money-bag:before {
    content: map-get($flaticon_tpf_mcc-map, "money-bag");
}
.flaticon-salary-1:before {
    content: map-get($flaticon_tpf_mcc-map, "salary-1");
}
.flaticon-money-bag-1:before {
    content: map-get($flaticon_tpf_mcc-map, "money-bag-1");
}
.flaticon-focus:before {
    content: map-get($flaticon_tpf_mcc-map, "focus");
}
.flaticon-strategy:before {
    content: map-get($flaticon_tpf_mcc-map, "strategy");
}
.flaticon-money-bag-2:before {
    content: map-get($flaticon_tpf_mcc-map, "money-bag-2");
}
.flaticon-money-bag-3:before {
    content: map-get($flaticon_tpf_mcc-map, "money-bag-3");
}
.flaticon-cash-bag:before {
    content: map-get($flaticon_tpf_mcc-map, "cash-bag");
}
.flaticon-money-bag-4:before {
    content: map-get($flaticon_tpf_mcc-map, "money-bag-4");
}
.flaticon-refund-2:before {
    content: map-get($flaticon_tpf_mcc-map, "refund-2");
}
.flaticon-cash:before {
    content: map-get($flaticon_tpf_mcc-map, "cash");
}
.flaticon-will:before {
    content: map-get($flaticon_tpf_mcc-map, "will");
}
.flaticon-last-will:before {
    content: map-get($flaticon_tpf_mcc-map, "last-will");
}
.flaticon-refund-3:before {
    content: map-get($flaticon_tpf_mcc-map, "refund-3");
}
.flaticon-profile-1:before {
    content: map-get($flaticon_tpf_mcc-map, "profile-1");
}
.flaticon-block:before {
    content: map-get($flaticon_tpf_mcc-map, "block");
}
.flaticon-image:before {
    content: map-get($flaticon_tpf_mcc-map, "image");
}
.flaticon-business-report-1:before {
    content: map-get($flaticon_tpf_mcc-map, "business-report-1");
}
.flaticon-penalty-1:before {
    content: map-get($flaticon_tpf_mcc-map, "penalty-1");
}
.flaticon-budget:before {
    content: map-get($flaticon_tpf_mcc-map, "budget");
}
.flaticon-punishment:before {
    content: map-get($flaticon_tpf_mcc-map, "punishment");
}
.flaticon-law-book:before {
    content: map-get($flaticon_tpf_mcc-map, "law-book");
}
.flaticon-invoice:before {
    content: map-get($flaticon_tpf_mcc-map, "invoice");
}
.flaticon-certificate:before {
    content: map-get($flaticon_tpf_mcc-map, "certificate");
}
.flaticon-stamp:before {
    content: map-get($flaticon_tpf_mcc-map, "stamp");
}
.flaticon-coin:before {
    content: map-get($flaticon_tpf_mcc-map, "coin");
}
.flaticon-regulation:before {
    content: map-get($flaticon_tpf_mcc-map, "regulation");
}
.flaticon-insurance-2:before {
    content: map-get($flaticon_tpf_mcc-map, "insurance-2");
}
.flaticon-pay-day:before {
    content: map-get($flaticon_tpf_mcc-map, "pay-day");
}
.flaticon-justice:before {
    content: map-get($flaticon_tpf_mcc-map, "justice");
}
.flaticon-gavel:before {
    content: map-get($flaticon_tpf_mcc-map, "gavel");
}
.flaticon-law:before {
    content: map-get($flaticon_tpf_mcc-map, "law");
}
.flaticon-documents:before {
    content: map-get($flaticon_tpf_mcc-map, "documents");
}
.flaticon-approval-2:before {
    content: map-get($flaticon_tpf_mcc-map, "approval-2");
}
.flaticon-approve-1:before {
    content: map-get($flaticon_tpf_mcc-map, "approve-1");
}
.flaticon-invoice-1:before {
    content: map-get($flaticon_tpf_mcc-map, "invoice-1");
}
.flaticon-group-3:before {
    content: map-get($flaticon_tpf_mcc-map, "group-3");
}
.flaticon-waiting-list-1:before {
    content: map-get($flaticon_tpf_mcc-map, "waiting-list-1");
}
.flaticon-time:before {
    content: map-get($flaticon_tpf_mcc-map, "time");
}
.flaticon-tick:before {
    content: map-get($flaticon_tpf_mcc-map, "tick");
}
.flaticon-tick-1:before {
    content: map-get($flaticon_tpf_mcc-map, "tick-1");
}
.flaticon-time-1:before {
    content: map-get($flaticon_tpf_mcc-map, "time-1");
}
.flaticon-payment:before {
    content: map-get($flaticon_tpf_mcc-map, "payment");
}
.flaticon-payment-1:before {
    content: map-get($flaticon_tpf_mcc-map, "payment-1");
}
.flaticon-face-scan:before {
    content: map-get($flaticon_tpf_mcc-map, "face-scan");
}
.flaticon-wedding-contract:before {
    content: map-get($flaticon_tpf_mcc-map, "wedding-contract");
}
.flaticon-payment-2:before {
    content: map-get($flaticon_tpf_mcc-map, "payment-2");
}
.flaticon-no-corruption:before {
    content: map-get($flaticon_tpf_mcc-map, "no-corruption");
}
.flaticon-no-money:before {
    content: map-get($flaticon_tpf_mcc-map, "no-money");
}
